/* food-display.css */
.food-display {
  padding: 30px 20px;
}

.food-display h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

/* Horizontal scroll list */
.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 10px;
  row-gap: 50px;
    
}



